<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>
<head>
    <meta charset="UTF-8">
    <title> welcome </title>
</head>
<body>

<div sec:authorize="!isAuthenticated()">
    <h2 align="center">游客您好，如果想查看武林秘籍 <a th:href="@{/security/log}">请登录</a></h2>
</div>
<div sec:authorize="isAuthenticated()">
    <h2><span sec:authentication="name"></span>，您好,您的角色有：
        <span sec:authentication="principal.authorities"></span></h2>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="注销"/>
    </form>
</div>



<a th:href="@{/security/s1}">s1 user</a>
<a th:href="@{/security/s2}">s2 consumer</a>
<a th:href="@{/security/s3}">s3 provider</a>

</body>

<script>


</script>
</html>


